<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Authorization Page</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid input.
</div>

<form th:action="@{/oauth/authorize}" method="post" th:object="${authorizationResponse}">
    <p>
        Application wants to access your account
    </p>

    <div th:if="${not #lists.isEmpty(availableScopes)}">
        <p>
            Select scopes to approve
        </p>

        <select id="scopeSelection"
                multiple="multiple"
                th:field="*{scopes}">

            <option th:each="scope: ${availableScopes}"
                    th:value="${scope}"
                    th:text="${scope}"></option>

        </select>
    </div>
    <p>
        Authorize: <input type="checkbox" th:field="*{authorize}"/>
    </p>
    <div><input type="submit" value="Authorize"/></div>
</form>

</body>
</html>