<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Enter Your User Details</title>
    <link rel="stylesheet"
          href="../../../../../../mmadu/common/theme-utils/src/main/resources/META-INF/resources/webjars/mmadu-theme-utils/css/theme.css"
          th:href="@{/webjars/mmadu-theme-utils/css/theme.css}">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{'/themes/' + ${domainId} + '/css/style.css'}" href="../themes/css/style.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form class="form-signin" action="#"
          th:action="@{'/' + ${domainId} + '/passwordReset/confirm'}"
          th:object="${passwordResetRequestConfirm}" method="post">
        <input type="hidden" name="otpId" th:value="${passwordResetRequestConfirm.otpId}">
        <input type="hidden" name="userId" th:value="${passwordResetRequestConfirm.userId}">
        <input type="hidden" name="otpValue" th:value="${passwordResetRequestConfirm.otpValue}">

        <h1 id="headerOne" class="form-signin-heading"
            th:text="${domainConfiguration.passwordReset.initiationFormTitle ?: 'Account Reset'}">
            Account Reset
        </h1>

        <div class="form-group">
            <input placeholder="New Password" type="password" id="newPassword" name="newPassword"
                   class="form-control bg-info"/>
        </div>

        <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit"
                th:text="${domainConfiguration.passwordReset.submitButtonLabel ?: 'Submit'}">
            Submit
        </button>
    </form>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
