spring:
  data:
    rest:
      base-path: /repo
    mongodb:
      uri: ${MMADU_REGISTRATION_DB_URI}
  main:
    allow-bean-definition-overriding: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  security:
    oauth2:
      client:
        registration:
          mmadu:
            client-id: ${mmadu.admin.client}
            client-secret: ${mmadu.admin.secret}
            authorization-grant-type: client_credentials
            scope: a.*.**, r.*.**
        provider:
          mmadu:
            token-uri: ${mmadu.identity.url}/clients/token
mmadu:
  application:
    ui: ${MMADU_APPLICATION_URL:http://localhost:8080}
  admin:
    client: ${MMADU_ADMIN_CLIENT:mmadu_admin}
    secret: ${MMADU_ADMIN_SECRET:1234567890}
  home: ${MMADU_REGISTRATION_ROOT_DIR:/root/mmadu}
  identity:
    jwt-auto-discovery: true
    url: ${MMADU_IDENTITY_URL:http://localhost:10084}
    jwk-set-uri: ${mmadu.identity.url}/metadata/0/jwks.json
  userService:
    url: ${MMADU_USER_URL:http://localhost:10080}
  registration:
    home: ${mmadu.home}/registration
    templates: file://${mmadu.registration.home}/templates/
    domain-flow-config:
      field-types:
        - id: mmadu.fields.text
          name: text
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='text' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
        - id: mmadu.fields.email
          name: email
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='email' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
        - id: mmadu.fields.password
          name: password
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><div class='input-group' id='show_hide_password'><input class='form-control' id='$field.name' name='$field.name' placeholder='$field.placeholder' type='password' $required $inputField  $inputStyle $errorStyle> <div  class='input-group-addon'><a href><i class='fa fa-eye' aria-hidden='true'></i></a></div></div>"
          classes: "form-group"
          script: "$(document).ready(function() {$('#show_hide_password a').on('click', function(event) {event.preventDefault(); if($('#show_hide_password input').attr('type') == 'text'){$('#show_hide_password input').attr('type', 'password'); $('#show_hide_password i').addClass( 'fa-eye-slash' ); $('#show_hide_password i').removeClass( 'fa-eye' ); }else if($('#show_hide_password input').attr('type') == 'password'){$('#show_hide_password input').attr('type', 'text'); $('#show_hide_password i').removeClass( 'fa-eye-slash' ); $('#show_hide_password i').addClass( 'fa-eye' ); } }); });"
          css: "#show_hide_password input {margin:0px;}"
        - id: mmadu.fields.integer
          name: integer
          type: integer
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='number' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 10
          max: 100
        - id: mmadu.fields.amount
          name: decimal
          type: decimal
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='number' step='any' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 1
          max: 1000
        - id: mmadu.fields.date
          name: date
          type: date
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='date' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $maxValue $minValue $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 1990-01-01
          max: 2022-01-01
        - id: mmadu.fields.time
          name: time
          type: time
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='time' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $maxValue $minValue $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: "09:30"
          max: "22:30"
        - id: mmadu.fields.datetime
          name: datetime
          type: datetime
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='datetime-local' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 2011-08-19T13:45:00
          max: 2020-08-19T13:45:00
      domains:
        - domainId: 0
          registrationProfile:
            defaultRedirectUrl: ${mmadu.application.ui}
            headerOne: Mmadu
            headerThree: Register
            instruction: Fill all the fields to register
            submitButtonTitle: GO!!
          fields:
            - name: email
              placeholder: Email
              property: email
              fieldTypeId: mmadu.fields.email
              label: Email
              order: 1
              required: true
            - name: full-name
              placeholder: Full Name
              property: fullName
              fieldTypeId: mmadu.fields.text
              label: Full Name
              order: 2
              required: true
            - name: username
              placeholder: Username
              property: username
              fieldTypeId: mmadu.fields.text
              label: Username
              order: 3
              required: true
            - name: password
              placeholder: Password
              property: password
              fieldTypeId: mmadu.fields.password
              label: Password
              order: 4