spring:
  data:
    rest:
      base-path: /repo
  main:
    allow-bean-definition-overriding: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  security:
    oauth2:
      client:
        registration:
          mmadu:
            client-id: ${mmadu.admin.client}
            client-secret: ${mmadu.admin.secret}
            authorization-grant-type: client_credentials
            scope: a.*.**, r.*.**
        provider:
          mmadu:
            token-uri: http://localhost:10084/clients/token
mmadu:
  admin:
    client: ${MMADU_ADMIN_CLIENT:mmadu_admin}
    secret: ${MMADU_ADMIN_SECRET:1234567890}
  home: ${user.home}/mmadu
  identity:
    public-key: 30820122300d06092a864886f70d01010105000382010f003082010a0282010100b4278f42c94340ca20f2921a91f3e9878596ebefea7727fb695b6472404db0200bd3709c32e31648d0a3cf81f26096669a93f3b7e42d9a9558d149203eeb215b2a0c0a464d0c98bd076d1c4c6c5b82958ea99cd737ebe5551b16af7b6f83538a60182164fd3b1609f75f84710a26c0ed0ab20a15540e9789bd4ddda892a25b4d2322319bf862e7e33b11f48125d781e2d95126b284f3f94df04e509d6b152ca48f27bf6bfecc4afdaf1cf060b4f961b0130d32ceacadc2ce90918480b79bc464ad2880a7d559342cfa9ec516f391c00b7b6b0054d8654f74ab225319dc6b7d9ac6e33fdb60e6fe5a315904241738e986110018b2d7ddc411cc657eca4d0684910203010001
  domainKey: 2222
  userService:
    url: http://localhost:10080
  registration:
    home: ${mmadu.home}/registration
    templates: file:${mmadu.registration.home}/templates/
    domain-flow-config:
      field-types:
        - id: mmadu.fields.text
          name: text
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='text' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
        - id: mmadu.fields.email
          name: email
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='email' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
        - id: mmadu.fields.password
          name: password
          type: text
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><div class='input-group' id='show_hide_password'><input class='form-control' id='$field.name' name='$field.name' placeholder='$field.placeholder' type='password' $required $inputField  $inputStyle $errorStyle> <div  class='input-group-addon'><a href><i class='fa fa-eye' aria-hidden='true'></i></a></div></div>"
          classes: "form-group"
          script: "$(document).ready(function() {$('#show_hide_password a').on('click', function(event) {event.preventDefault(); if($('#show_hide_password input').attr('type') == 'text'){$('#show_hide_password input').attr('type', 'password'); $('#show_hide_password i').addClass( 'fa-eye-slash' ); $('#show_hide_password i').removeClass( 'fa-eye' ); }else if($('#show_hide_password input').attr('type') == 'password'){$('#show_hide_password input').attr('type', 'text'); $('#show_hide_password i').removeClass( 'fa-eye-slash' ); $('#show_hide_password i').addClass( 'fa-eye' ); } }); });"
          css: "#show_hide_password input {margin:0px;}"
        - id: mmadu.fields.integer
          name: integer
          type: integer
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='number' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 10
          max: 100
        - id: mmadu.fields.amount
          name: decimal
          type: decimal
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='number' step='any' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 1
          max: 1000
        - id: mmadu.fields.date
          name: date
          type: date
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='date' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $maxValue $minValue $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 1990-01-01
          max: 2022-01-01
        - id: mmadu.fields.time
          name: time
          type: time
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='time' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' autofocus $maxValue $minValue $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: "09:30"
          max: "22:30"
        - id: mmadu.fields.datetime
          name: datetime
          type: datetime
          markup: "<label for='$field.name' class='sr-only'>$field.label</label><input type='datetime-local' id='$field.name' name='$field.name' class='form-control' placeholder='$field.placeholder' $maxValue $minValue autofocus $required $inputField $inputStyle $errorStyle >$errorDisplay"
          min: 2011-08-19T13:45:00
          max: 2020-08-19T13:45:00
      domains:
        - domainId: 0
          registration-profiles:
            - defaultRedirectUrl: https://google.com
              code: user
              headerOne: Mmadu
              headerThree: Register
              instruction: Fill all the fields to register
              submitButtonTitle: GO!!
              fields:
                - mmadu.field.email
                - mmadu.field.full_name
                - mmadu.field.username
                - mmadu.field.password
          fields:
            - name: email
              code: mmadu.field.email
              placeholder: Email
              property: email
              fieldTypeId: mmadu.fields.email
              label: Email
              order: 1
              required: true
            - name: full-name
              code: mmadu.field.full_name
              placeholder: Full Name
              property: fullName
              fieldTypeId: mmadu.fields.text
              label: Full Name
              order: 2
              required: true
            - name: username
              code: mmadu.field.username
              placeholder: Username
              property: username
              fieldTypeId: mmadu.fields.text
              label: Username
              order: 3
              required: true
            - name: password
              code: mmadu.field.password
              placeholder: Password
              property: password
              fieldTypeId: mmadu.fields.password
              label: Password
              order: 4